.carousel .carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    max-height: 400px;
}

.content {
    padding: 3rem 8vw;
}

.card-temp-1 {
    width: 100%;
    max-width: 18vw;
    min-width: 185px;
}
.card-temp-2 {
    width: 18vw;
    max-width: 18vw;
    min-width: 150px;
}
@media screen and (max-width: 426px) {
    .carousel-item img {
        max-height: 230px !important;
    }
    .content {
        padding: 1.5rem 0 !important;
    }
    .card-temp-1 {
        width: 100% !important;
    }
    .card-temp-2 {
        min-width: 185px !important;
    }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    .carousel-item img {
        max-height: 300px !important;
    }
    .content {
        padding: 1.5rem 4vw !important;
    }
    .card-temp-1 {
        width: 100% !important;
        max-width: 32vw !important;
        min-width: 185px !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .carousel-item img {
        max-height: 375px !important;
    }
    .content {
        padding: 3rem 6vw !important;
    }
    .card-temp-1 {
        width: 100% !important;
        max-width: 17vw !important;
        min-width: 185px !important;
    }
}

#card-yearmon,
#card-day {
    font-size: var(--fs-18);
    color: var(--ct-sub-1);
}

#card-date {
    font-size: var(--fs-46);
    font-weight: bolder;
    color: var(--ct-color-2);
}

.content-title {
    font-size: var(--fs-20);
    font-weight: bold;
    color: var(--ct-title-1);
}

.content-sub-title {
    font-size: var(--fs-16);
    color: var(--ct-sub-1);
}

.card-temp-1 .card-img-top,
.card-temp-2 .card-img-top {
    height: 11.25rem;
    object-fit: cover;
}

#popular_topic_tabs button {
    font-size: var(--fs-20);
}

.card-title {
    font-size: var(--fs-20);
}
.card-text {
    font-size: var(--fs-16);
    line-height: var(--fs-22);
    letter-spacing: 1px;
}

#popular_topic_tabs button {
    color: var(--ct-title-1);
    font-size: var(--fs-16);
    margin-left: 0;
    margin-right: 5px;
}
