.carousel .carousel-item {
    height: 25rem;
}

.carousel-item img {
    height: 25rem;
    object-fit: cover;
}

#card-yearmon,
#card-day {
    font-size: var(--fs-18);
    color: var(--ct-sub-1);
}

#card-date {
    font-size: var(--fs-46);
    font-weight: bolder;
    color: var(--ct-color-2);
}

.content {
    padding: 3rem 8vw;
}

.content-title {
    font-size: var(--fs-20);
    font-weight: bold;
    color: var(--ct-title-1);
}

.content-sub-title {
    font-size: var(--fs-16);
    color: var(--ct-sub-1);
}

.latest-news-card {
    min-width: 15rem;
}
.latest-news-card .card-img-top {
    height: 11.25rem;
    object-fit: cover;
}

#popular_topic_tabs button {
    font-size: var(--fs-20);
}

.card-title {
    font-size: var(--fs-20);
}
.card-text {
    font-size: var(--fs-16);
    line-height: var(--fs-28);
    letter-spacing: 1px;
}

#popular_topic_tabs button {
    color: var(--ct-title-1);
    font-size: var(--fs-16);
    margin-left: 0;
    margin-right: 5px;
}
