@import url("https://fonts.googleapis.com/css?family=Oswald:500");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

body {
    font-family: "Muli", "Noto Sans TC", "微軟正黑體";
    background-color: white;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.ct-txt-1 {
    color: #54beec !important;
}
.ct-txt-2 {
    color: #ff9900 !important;
}
.ct-bg-0 {
    background-color: #fff8f1 !important;
}
.ct-bg-1 {
    background-color: #54beec !important;
}
.ct-bg-2 {
    background-color: #ff9900 !important;
}
.ct-bg-3 {
    background-color: #ccecfa !important;
}
.ct-title-1 {
    color: #1a1a1a !important;
}
.ct-sub-1 {
    color: #5c5c5c !important;
}
.ct-sub-2 {
    color: #f24726 !important;
}
.ct-sub-3 {
    color: #ccecfa !important;
}
.ct-sub-4 {
    color: #0096d7 !important;
}
.fs-12 {
    font-size: 0.75rem;
}
.fs-14 {
    font-size: 0.875rem;
}
.fs-16 {
    font-size: 1rem;
}
.fs-18 {
    font-size: 1.125rem;
}
.fs-24 {
    font-size: 1.5rem;
}

:root {
    --ct-color-1: #54beec;
    --ct-color-2: #ff9900;
    --ct-title-1: #1a1a1a;
    --ct-sub-1: #5c5c5c;
    --ct-sub-2: #f24726;
    --ct-sub-3: #ccecfa;
    --ct-sub-4: #0096d7;

    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-15: 0.938rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-30: 1.875rem;
    --fs-32: 2rem;
    --fs-34: 2.125rem;
    --fs-36: 2.25rem;
    --fs-40: 2.5rem;
    --fs-60: 3.75rem;
}

.btn-c1 {
    color: white;
    background-color: var(--ct-color-1);
}
.btn-c2 {
    color: white;
    background-color: var(--ct-color-2);
}
.btn-c2:hover {
    color: white;
    background-color: var(--ct-sub-2);
}
.btn-outline-c1 {
    color: #70c6e3;
    border-color: #70c6e3;
    background-color: white;
    border-width: 0.078rem;
}
.btn-outline-c2 {
    color: var(--ct-title-1);
    border-color: #ff9900;
    background-color: white;
    border-width: 0.15rem;
}

header {
    background: white;
}
#topbar-nav-tabs li a i {
    color: var(--ct-color-1);
    font-size: var(--fs-20);
}

#topbar-nav-tabs li .nav-link {
    padding: 0.2rem 0.5rem;
    margin: auto 0.15rem;
}
#topbar-nav-tabs li .nav-link.active {
    color: var(--ct-sub-1);
    background: none;
    font-size: var(--fs-16);
    padding: auto 0.375rem;
}

#topbar-nav-tabs li .dropdown-menu .dropdown-item:hover {
    color: #000;
    padding-left: 20px;
}

#topbar-nav-tabs li .dropdown-menu .dropdown-item {
    font-size: var(--fs-16);
    color: var(--ct-sub-1);
    border-bottom: 1px solid #efefef;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    position: relative;
}
#topbar-nav-tabs li .dropdown-menu .dropdown-item::before {
    content: "";
    position: absolute;

    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    background: var(--ct-color-1);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
#topbar-nav-tabs li .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

#topbar-nav-tabs li .dropdown-menu .dropdown-item:hover {
    color: #000;
    padding-left: 20px;
}
#topbar-nav-tabs li .dropdown-menu .dropdown-item:hover:before {
    opacity: 1;
    visibility: visible;
    width: 6px;
}

#topbar-nav-tabs li .dropdown-menu .dropdown-item:active {
    background-color: var(--ct-color-1);
    color: white;
}

#goTopButton,
#floatButton {
    font-size: var(--fs-24);
    color: var(--ct-color-1);
}

footer i {
    font-size: var(--fs-24);
    color: var(--ct-color-1);
}

footer a {
    text-decoration: none;
    text-align: center;
    color: var(--ct-title-1);
}

.tooltip-inner {
    /* background: var(--ct-sub-3);
    color: black; */
}

/* 右側側邊欄選單 */
#right-sidebar {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 70vh;
    padding-right: 1.3rem;
}
#right-sidebar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
#right-sidebar::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 100px;
}
#right-sidebar::-webkit-scrollbar-thumb {
    background-color: var(--ct-sub-3);
    border-radius: 100px;
}

/* 右側文章分類選單 知識圖書館、個人資料 */
#article_class_list .nav-item .collapse.show .dropdown-item:hover,
#info_class_list .nav-item .collapse.show .dropdown-item:hover {
    color: var(--ct-color-1);
    background: none;
}

#article_class_list .nav-item .nav-link.active,
#info_class_list .nav-item .nav-link.active {
    color: var(--ct-title-1);
    background-color: var(--ct-sub-3);
    font-weight: 500;
    border-radius: 0.5rem;
}

#article_class_list .nav-item .collapse.show .dropdown-item.active,
#info_class_list .nav-item .collapse.show .dropdown-item.active {
    color: var(--ct-title-1);
    background-color: var(--ct-sub-3);
    font-weight: 500;
    border-radius: 0.5rem;
}

#article_class_list .nav-item .nav-link,
#info_class_list .nav-item .nav-link {
    color: var(--ct-title-1);
}

#article_class_list .nav-item .nav-link i,
#info_class_list .nav-item .nav-link i {
    color: var(--ct-color-1);
}

/* 右側文章分類選單 療心室(聊療) */
#treat_class_list .nav-item .nav-link.active {
    color: var(--ct-title-1);
    background-color: var(--ct-sub-3);
    font-weight: 500;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}
#treat_class_list .nav-item .nav-link {
    color: var(--ct-title-1);
}
#treat_class_list .nav-item .nav-link:hover {
    color: var(--ct-color-1);
    background: none;
}

/* 右側文章分類選單 文章推薦列表 */
.forum-list .nav-item .nav-link {
    color: var(--ct-title-1);
    padding-left: 0;
}
.forum-list .nav-item .nav-link:hover {
    color: var(--ct-color-1);
    background: none;
}
