#point_topbar {
    font-size: var(--fs-20);
}
#point_topbar .col {
    /* min-width: 200px; */
}

@media screen and (max-width: 768px) {
    #total_points,
    #point_exchange {
        height: calc(70px + 0.5rem) !important;
    }
    #point_exchange_list img {
        min-width: calc(140px + 0.5rem) !important;
        max-width: calc(155px + 0.5rem) !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    #total_points,
    #point_exchange {
        height: calc(100px + 0.75rem) !important;
    }
    #point_exchange_list img {
        min-width: calc(145px + 1rem) !important;
        max-width: calc(158px + 1rem) !important;
    }
}
@media screen and (min-width: 1440px) {
    #total_points,
    #point_exchange {
        height: calc(150px + 1rem) !important;
    }
}

#total_points {
    background: var(--ct-sub-3);
    font-weight: 500;
    border-radius: 15px;
    font-size: var(--fs-18);
}
#total_points span {
    color: var(--ct-sub-4);
    font-size: var(--fs-36);
    font-weight: bold;
    margin: 0 var(--fs-24);
}
#point_exchange {
    color: var(--ct-color-2);
    border: var(--ct-color-2) 3px solid;
    font-weight: 500;
    border-radius: 15px;
    text-decoration: none;
    font-size: var(--fs-18);
}

/* 任務類型標籤 */
#task_class_tabs .nav-link {
    font-size: var(--fs-17);
    border: var(--ct-sub-3) 2px solid;
    color: black;
    margin: calc(1rem * 0.25);
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    cursor: pointer;
}
#task_class_tabs .nav-link i {
    color: var(--ct-color-1);
}

/* 任務列表 */
.task_title {
    font-size: var(--fs-22);
    font-weight: bold;
}
#task_list i {
    font-size: var(--fs-28);
    color: var(--ct-color-2);
}
#task_list p {
    color: var(--ct-sub-1);
    font-size: var(--fs-16);
}
.progress-bar {
    background: var(--ct-color-1);
}
.progres_value {
    font-size: var(--fs-18);
    letter-spacing: 10px;
    color: var(--ct-sub-4);
    font-weight: 500;
}
.badge {
    font-weight: normal;
    font-size: var(--fs-15);
    border: var(--ct-color-2) 1px solid;
    border-radius: 100px;
    color: black;
    margin: 0 calc(1rem * 0.5);
}
.finish_badge {
    background: var(--ct-color-2);
    color: white;
}

/* 點數轉贈 */
.input_underline {
    border: none;
    border-radius: 0;
    border-bottom: var(--ct-sub-1) 1px solid;
}
.point_col {
    border: var(--ct-sub-3) 2px solid;
    border-radius: var(--fs-15);
    height: 120px;
    margin: 1rem;
    font-size: var(--fs-17);
    text-decoration: none;
    color: black;
    text-align: center;
}
.point_col:hover {
    background: var(--ct-sub-3);
    color: black;
}

/* 點數獲取/使用記錄 */
.record_title {
    font-size: var(--fs-18);
    font-weight: 500;
}
.task_point {
    font-size: var(--fs-20);
    font-weight: bold;
    letter-spacing: 1px;
}
.task_point::after {
    content: "點";
}
.task_point.use {
    color: var(--ct-color-2);
}
.task_point.use::before {
    content: "-";
}
.task_time {
    font-size: var(--fs-16);
    color: var(--ct-sub-1);
}

/* 點數兌換 */
#point_exchange_list {
    font-size: var(--fs-18);
}
#point_exchange_list .title {
    font-size: var(--fs-20);
    font-weight: bold;
}

#point_exchange_list .text {
    font-size: var(--fs-16);
    letter-spacing: 1px;
    margin: 0 0 0.75rem 0;
}

#point_exchange_list button {
    background: #c9c9c9;
    border-radius: 100px;
    height: var(--fs-30);
    width: var(--fs-30);
}

#point_exchange_list img {
    min-width: 165px;
    width: 100%;
    max-width: 200px;
}

.fa-crown {
    color: #ff9900;
    font-size: var(--fs-15);
}
