@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.popup .icons {
    margin: 15px 0 20px 0;
    display: contents;
}
.content p {
    font-size: 16px;
    margin: auto;
}

.icons a {
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    margin: 0 2px;
}

.content .icons a {
    height: 50px;
    width: 50px;
    font-size: var(--fs-22);
    text-decoration: none;
    border: 1px solid transparent;
}
.icons a i {
    transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1) {
    color: #1877f2;
    border-color: #b7d4fb;
}
.icons a:nth-child(1):hover {
    background: #1877f2;
}
.icons a:nth-child(2) {
    color: #25d366;
    border-color: #bef4d2;
}
.icons a:nth-child(2):hover {
    background: #25d366;
}
/* .icons a:nth-child(2) {
    color: #46c1f6;
    border-color: #b6e7fc;
}
.icons a:nth-child(2):hover {
    background: #46c1f6;
}
.icons a:nth-child(3) {
    color: #e1306c;
    border-color: #f5bccf;
}
.icons a:nth-child(3):hover {
    background: #e1306c;
}
.icons a:nth-child(4) {
    color: #25d366;
    border-color: #bef4d2;
}
.icons a:nth-child(4):hover {
    background: #25d366;
}
.icons a:nth-child(5) {
    color: #0088cc;
    border-color: #b3e6ff;
}
.icons a:nth-child(5):hover {
    background: #0088cc;
} */
.icons a:hover {
    color: #fff;
    border-color: transparent;
}
.icons a:hover i {
    transform: scale(1.2);
}
.content .field {
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    /* border: 1px solid #757171; */
}
.field.active input {
    border-color: #7d2ae8;
}
.field i {
    width: 50px;
    font-size: 18px;
    text-align: center;
}
.field.active i {
    color: #7d2ae8;
}
/* .field input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
} */
.field button {
    color: #fff;
    padding: 5px 18px;
    background: #4babd4;
}
.field button:hover {
    background: var(--ct-color-1);
}
