@media screen and (max-width: 576px) {
    .preview {
        width: 30vw !important;
        height: 30vw !important;
    }
    .preview img {
        height: 30vw !important;
    }
}

.preview {
    background: #cccccc;
    width: 10vw;
    height: 10vw;
    text-align: center;
    margin-bottom: 20px;
}
.preview img {
    height: 10vw;
    order: 1;
    vertical-align: middle;
}

/* .modal span {
    visibility: hidden;
} */

/* 會員登入 */
#user_login_tabs .nav-link.active {
    font-size: var(--fs-24);
    background: white;
    color: black;
    box-shadow: 0 -0.35rem 1.2rem rgba(90, 90, 90, 0.15);
}
#user_login_tabs .nav-link {
    font-size: var(--fs-20);
    line-height: var(--fs-34);
    font-weight: bold;
    background-color: var(--ct-sub-3);
    color: #b9b9b9;
}
.form-signin .tab-pane button {
    border-radius: 10px;
    font-size: var(--fs-18);
}
.form-signin .tab-pane a {
    color: black;
    font-size: var(--fs-14);
}
.form-signin .tab-pane .hr-w-txt {
    width: 100%;
    height: 14px;
    border-bottom: 1px solid #c9c9c9;
    text-align: center;
    margin: 10px 0 35px 0;
}
.form-signin .tab-pane .hr-w-txt span {
    background-color: white;
    padding: 0 14px;
}

.form-signin {
    max-width: 450px;
    padding: 1rem;
}

/* 會員註冊 */
.form-register {
    min-height: 400px;
}
.form-register .tab-pane {
    font-size: var(--fs-18);
}

.form-register .tab-pane .title {
    font-size: var(--fs-24);
    font-weight: bold;
    margin: 0.7rem 0;
    text-indent: -1em;
}
.form-register .tab-pane .ol {
    text-indent: 0em;
    color: black;
}
.form-register .tab-pane input:not([type="radio"], [type="checkbox"], [type="datetime"]) {
    background: none;
}
.form-register .tab-pane input:focus {
    box-shadow: none;
    border-bottom: 0.12rem solid black;
}

.form-register .tab-content span.text-muted {
    font-size: var(--fs-18);
}
.form-register .tab-pane .btn-c2 {
    padding: 0.25rem 1rem;
    /* padding-top: 0.25rem;
    padding-bottom: 0.25rem; */
}
.nav-link.step-btn,
.nav-link.step-btn.active {
    background: white;
    color: var(--ct-color-1);
    font-size: var(--fs-14);
}

.nav-link.step-btn:disabled {
    background-color: #d9d9d9;
    color: #cccccc;
}

.form-register .tab-pane .step-div {
    color: var(--ct-sub-1);
    font-size: var(--fs-15);
    position: fixed;
    top: calc(22rem + 0.125rem);
    left: 36%;
}

.form-register .tab-pane a {
    color: var(--ct-sub-4);
}

.full-img {
    z-index: -1;
    top: 0;
    right: -20vw;
    max-width: 45vw;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .full-img {
        top: 20% !important;
        right: -3% !important;
    }
}

@media screen and (max-width: 576px) {
    .form-register .tab-pane br {
        display: inline;
        content: " ";
        clear: none;
    }
    .full-img {
        display: none;
    }
    .form-register .tab-pane input:not(.input-group > input):not([type="radio"], [type="checkbox"], [type="datetime"]) {
        width: 100% !important;
    }
    .form-register .tab-pane .input-group {
        width: 100% !important;
    }
    .form-register .tab-pane .step-div {
        bottom: 30%;
        right: 5%;
        left: auto;
    }

    /*信紙*/
    .form_mail {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin: 26px auto 0;
        max-width: 550px;
        min-height: 300px;
        padding: 24px;
        position: relative;
        width: 80%;
    }
    .form_mail:before,
    .letter:after {
        content: "";
        height: 98%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .form_mail:before {
        background: #fafafa;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        left: -5px;
        top: 4px;
        transform: rotate(-2.5deg);
    }
    .form_mail:after {
        background: #f6f6f6;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        right: -3px;
        top: 1px;
        transform: rotate(1.4deg);
    }
    fieldset {
        padding: 0 !important;
    }
}
/* @media screen and (min-width: 1440px) {
    
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
    
} */

.form_mail {
    background-position: center;
    transition-property: opacity;
    color: black;
    position: relative;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.form_mail::after {
    content: "";
    position: absolute;
    background: url("../img/register/vc/14.png");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

fieldset {
    /* position: absolute;
    top: 5%;
    padding: 45px 130px; */
    /* line-height: 30px; */
    font-size: var(--fs-17);
    line-height: var(--fs-22);
    padding: 13% 18%;
}
fieldset p {
    margin-top: 3px;
    margin-bottom: 3px;
}
fieldset .step-tabs {
    cursor: pointer;
    color: var(--ct-sub-4);
}
